<section id="story-casahogar" data-nav="Inicio">
	<%= image_tag "entrada3.jpg",  class:"bg animate",  alt: "casa hogar", "anim-detached" => "true"  %>
	<article class="story">
		<header>
			<h2>el señor de la misericordia</h2>
		</header>
		<p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
	</article>
</section>
<section id="story-historia" data-nav="Historia">
	<%= image_tag "patios2.jpg", class:"bg animate",  alt: "patio",  "anim-detached" => "true"   %>
	<article class="story scroll">
		<header>
			<h2>la década de los años ochenta</h2>
		</header>
		 <p>Corría la década de los años ochenta, cuando un grupo de personas Gabrielenses; los señores Justo Arámbula Rosales, Edmndo Rodríguez Quintero, Adán Yáñez, Rosita Larios de Yánez, Miguel Yánez Rodríguez, Javier Arámbula Rodríguez, Nabor Arias García y las Sritas. Micaela y Ma. Guadalupe Arias Benavides (La mayoría ya fallecidas) tuvieron la inquietud de formar un asilo, dandose a la tarea de primero formar un fondo con sus propias aportaciones que fue de $500.00 cada uno, abriendo una cuenta bancaria. No se sabe el motivo por el cual nose continuó, pero si la cuenta generó una cantindad regular debido a la inflación que corría en ese tiempo lo cual con la tasa alta de intereses acumuló un buen fondo</p>
		<p>En el año 1992 don Adán Yáñez convocó a un grupo de personas para manifestar su deseo de que se formara un patronato entre los asistentes ya que él como radicaba fuera de la población consideraba que era necesario retomar el proyecto con un un nuevo grupo de los ahí presentes. Quedando nombradas las siguientes personas:</p>
		<ul>
			<li>Presidente:    Sra. Elvira Vizcaíno Santana</li>
			<li>Secretario:    Lucio Cuevas Flores</li>
			<li>Tesorero:      José Francisco Vargas Araiza</li>
			<li>Primer Vocal:  Javier A. Arámbula Arias </li>
			<li>Segundo Vocal: Miguel Yañez Rodriguez</li>
			<li>Comisario:     Ing. Arturo Medina Luna</li>
		</ul>
		<p>Inicio la directiva electa realizando diferentes eventos con el fin de recabar fondos e incrementar los recursos ya existentes: obras de teatro, rifas, cenas con noches bohemias, programas de aficionados, etc.</p>
		<p>Viendo la necesidad de formalizar jurídicamente la situación del patronato, se tramitó y el 14 de julio de 1994 se constituyó la Asociación Civil, con el nombre de: "PATRONATO GABRIELENSE DE ASISTENCIA SOCIAL, A.C" y así tramitar su reconomiento ante el Instituto Jalicience de Asistencia Social (IJAS), organismo estatal cuya función es registrar, controlar, asesorar y capacitar a todas las personas que integran las organizaciones de la sociedad civil en el estado de Jalisco, supervisando su actuación y refrendando cada 3 años su reconocimiento ante la sociedad.</p>
		<p>Se visitó al párroco de ese tiempo Sr. Cura Jacinto Verdín Benavides solicitándole una propiedad que había donado la Bienhechora Ignacia Covarrubias a la iglesia, aceptando la petición solicitada, la cual se concreto después de algunos años ya que estaba a nombre del Sr. Oscar Villa Fregoso, el cual ya había fallecido y hata que fué posible su escrituración ya que se contactó a los hijos del Sr. Villa, firmado su escrituración, después de algunos años.</p>
		<p>Se inició con la demolición de la construcción existente, una vez que se desocuparon los lugares ocupados, quedando solamente una persona en poseción de una parte de las misma finca.</p>
		<p>Con los fondos acumulados se inició su construcción y despúes de alrededor de 10 años (en etapas) se pudo concluir la obra.</p>
		<p>Se contó con el apoyo económico del IJAS, de los Gabrielenses Radicados principalmente en Los Angeles, California., constituidos en el club Gabrielense cuyos integrantes y simpatizantes logrando reunir un fondo de cerca de $150,000.00 pesos mexicanos, con lo cual tramitaron ante el gobierno mexicano (Ya que tienen reconomiento oficial) y con el programa 3x1 hizo que triplicara el recurso de los migrantes, se contó con el apoyo de la Secretaría de Desarrollo Humano del Gobierno del Estado, por supuesto hubo colaboración de algunas personas, sobresaliendo la Fam. Guzmán Arias, el Ing. Nabor Arias, el Sr. J. Refugio Almaraz (dono 12 puertas de madera), el Ing. Luis Manuel Vizcaino Ibarra(dono el costo de 2 puertas grandes de madera), la caja Popular José Ma. Velasco y desde luego todas las personas que colaboraron comprando boletos de rifas, asistiendo a los eventos, pidiendo disculpas si se omitieron los nombres de algotras personas que hallan colaborado de alguna manera en este proyecto</p>
	</article>
</section>
<section id="story-mision" data-nav="Misión">
	<%= image_tag "fuente2.jpg",  class:"bg animate",  alt: "fuente",  "anim-detached" => "true"   %>
	<article class="story scroll">
		<div class="mision">
			<header>
		 		<h5>Misión</h5>
			</header> 
		 <p>Ofrecer un servicio integral y de calidad a los adultos mayores de la región, de manera que puedan llevar una vida digna; resaltando el trato humano con respeto, amor y resposabilidad</p>
		</div>
		<div class="vision">
			<header>
				<h5>Visión</h5>
			</header>
			<p>Somos una institución que trasciende en atención a los adultos mayores, de manera que esta labor es ejemplo para otros sectores de la población, quienes toman conciencia de la importancia de ofrecer a las personas medios para ser felices.</p>
		</div>
		<div class="valores">
			<header>
				<h5>Valores</h5>
			</header>
			<ul>
				<li>Amor</li>
				<li>Tolerancia</li>
				<li>Respeto</li>
				<li>Solidaridad</li>
				<li>Compromiso</li>
			</ul>
		</div>
		<div class="objectivo general">
			<header>
				<h5>Objectivo General</h5>
			</header>
			<p>Brindar un servicio de asistencia a las personas de la tercera edad, con voluntad</p>
		</div>
		<div class="objetivos específicos">
			<header>
				<h5>Objectivos Especificos</h5>
			</header>
			<p>Mejorar la calidad de vida de las personas que ingresan a esta casa hogar. Mantener en buenas condiciones físicas las instalaciones. Promover nuestros servicios en la comunidad.</p>
		</div>
	</article>
</section>
<section id="story-who" data-nav="Quiénes somos">
	<%= image_tag "pasillos2.jpg",  class:"bg animate",  alt: "pasillos",  "anim-detached" => "true"  %>
	<article class="story">
		<header>
			<h2>el comite actual</h2>
		</header>
		<ul>
			<li>Presidente:     Luis Enrique Figueroa Maldonado</li>
			<li>Secretario:     Ramona Solano Rodríguez</li>
			<li>Tesorero:       Consuelo Lizette Novoa Gómez</li>
			<li>Primer Vocal:   Lucio Edgardo Cuevas Bejarano </li>
			<li>Segundo Vocal:  Josué Ignacio Ramírez Agredano</li>
			<li>Comisario:      María Guadalupe Gómez Figueroa</li>
			<li>Apoderado Gral: Alma Rosa Ramírez Agredano</li>
		</ul>

		<p>Se están realiando algunos trámites indispensables para poder operar como institución de asistencia social reconocida y ya iniciar con su puesta en operación proximamente. Se encuentra temporalmente al frente de la administración de la casa hogar, la religiosa Martha Herrera Montes de Oca, esperando el ya pronto inicio de actividades y esperando la respuesta de solicitantes de <em>ingreso</em>, que desde luego se van a tropezar con algunas dificultades de toda índole, por que no es facil operar al 100% desde uninicio.</p>
	</article>
</section>

<section id="story-gallery" data-nav="Galería">

	<article class="story scroll albums">
		<header>
			<h2>el trabajo de todos</h2>
			<h6>Albunes</h6>
		</header>
		<ul>
			<% @albums.each do |album| %>
  			<li class="active"><%= link_to album.title, photo_album_path(album.url_name), remote: true%></li>
  		<% end %>
		</ul>
	</article>
	<ul id="photos" class="block-grid seven-up albums" data-clearing >
		<%= render partial: "photo", collection: @photos || "No hay fotos para mostrar.", as: :photo %>
	</ul>


</section>

