<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Casa Hogar" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="branding">
		<h1>Casa hogar</h1>
	</header>

	<nav class="primary">
		<ul>
			<li>
			 <h4>Casa Hogar</h4>
			 <a class="casa-hogar" href="#casa-hogar">View</a>
			</li>
			<li>
				<h4>Historia</h4>
				<a class="historia" href="#historia">View</a>
			</li>
			<li>
				<h4>Servicios</h4>
				<a class="servicios" href="#servicios">View</a>
			</li>
			<li>
				<h4>Misión y Visión</h4>
				<a class="mision" href="#mision">View</a>
			</li>
			<li>
				<h4>Quienes</h4>
				<a class="who" href="#who">View</a>
			</li>
		</ul>
	</nav>

	<%= yield %>


	<!-- Parallax foreground -->
	<div id="parallax-bg3">
		<img id="bg3-1" src="img/balloon.png" width="529" height="757" alt="Montgolfier hot air balloon"/>
		<img id="bg3-2" src="img/balloon2.png" width="603" height="583" alt="Frameless parachute"/>
		<img id="bg3-3" src="img/balloon3.png" width="446" height="713" alt="Blanchard's air balloon"/>
		<img id="bg3-4" src="img/ground.png" width="1104" height="684" alt="Landscape with trees and cows"/>
	</div>
	
	<!-- Parallax  midground clouds -->
	<div id="parallax-bg2">
		<img id="bg2-1" src="img/cloud-lg1.png" alt="cloud"/>
		<img id="bg2-2" src="img/cloud-lg1.png" alt="cloud"/>
		<img id="bg2-3" src="img/cloud-lg1.png" alt="cloud"/>
		<img id="bg2-4" src="img/cloud-lg1.png" alt="cloud"/>
		<img id="bg2-5" src="img/cloud-lg1.png" alt="cloud"/>
	</div>
	
	<!-- Parallax  background clouds -->
	<div id="parallax-bg1">
		<img id="bg1-1" src="img/cloud-lg2.png" alt="cloud"/>
		<img id="bg1-2" src="img/cloud-lg2.png" alt="cloud"/>
		<img id="bg1-3" src="img/cloud-lg2.png" alt="cloud"/>
		<img id="bg1-4" src="img/cloud-lg2.png" alt="cloud"/>
	</div>

  <footer>
		<p> Casa Hogar, San Gabriel Jalisco, Gavino Velasco #40</p>
	</footer>
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
</body>
</html>
